[Desktop Entry]
Version=1.0
Type=Application
Name=Katharsis
Exec=Katharsis
Comment=A simple Kathara GUI
Icon=io.github.buonhobo.Katharsis
Terminal=false
Categories=Utility;Application;
