appdirs==1.4.4
binaryornot==0.4.4
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
deepdiff==6.2.2
docker==7.1.0
durationpy==0.7
fs==2.4.16
google-auth==2.35.0
idna==3.10
kathara==3.7.7
kubernetes==31.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
oauthlib==3.2.2
ordered-set==4.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pygments==2.18.0
pyroute2==0.7.12
python-dateutil==2.9.0.post0
pyuv @ git+https://github.com/saghul/pyuv@2a3d42d44c6315ebd73899a35118380d2d5979b5
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.8.1
rsa==4.9
setuptools==75.1.0
six==1.16.0
slug==2.0
urllib3==2.2.3
websocket-client==1.8.0
